@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
}
:root{
    /* ----- Main-color ------ */
    --bg:#111;
    --bg:#111;
    --bg:#111;
    --btn-bg:#f9ab30;
    --white:#fff;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.section{
    padding-top: 50px;
    padding-bottom: 50px;

}


/* header-section  */
header{
    position: fixed;
    width: 100%;
    height: 100px;
    line-height: 100px;
    top: 0;
    left: 0;
    z-index: 100;
}
header.sticky{
    background-color: #222831;
}
.navbar{
    max-width: 1290px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 30px;
}
.logo a{
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}
.logo a span{
    color: #ff5959;
    padding: 5px;
    font-size: 2rem;
}
.list {
    display: inline-flex;
}
.list li{
    padding-left: 30px;
}
.list a{
    font-size: 1.6rem;
    color: var(--white);
}
.list a.active,
.list a:hover{
    color: #f9ab30;
}
.btn{
    padding-left: 30px;
}
.n-btn{
    padding: 10px 15px;
    background-color: var(--btn-bg);
    color: var(--white);
    font-size: 1.6rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;

}
/* header-section  */


/* hero-section  */
.hero{
    position: relative;
    height: 100vh;
}
.hero-img{
    width: 100%;
    position: relative;
}
.hero-img img{
    width: 100%;
    height: 100vh;
    object-fit: fill;
    background-attachment: fixed;
    background-position: center;
}
.h-overlay{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1.4;
    background: linear-gradient(45deg,#2f88fc 0%,#ff5959 100%);
}
.h-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .4;
    background: #000;
    background: #2f88fc;
    background: -moz-linear-gradient(45deg,#2f88fc 0%,#ff5959 100%);
    /* background: -webkit-gradient(left bottom,right top,color-stop(0%,#2f88fc),color-stop(100%,#ff5959)); */
    background: -webkit-linear-gradient(45deg,#2f88fc 0%,#ff5959 100%);
    background: -o-linear-gradient(45deg,#2f88fc 0%,#ff5959 100%);
    background: -ms-linear-gradient(45deg,#2f88fc 0%,#ff5959 100%);
    background: linear-gradient(45deg,#2f88fc 0%,#ff5959 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f88fc', endColorstr='#ff5959', GradientType=1 );
}
/* hero-section  */



/* service  */
.service{
    width: 100%;
    height: auto;
    padding-top: 100px;
}
.service-container{
    max-width: 1290px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 60px;
    padding: 0 30px;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}
.service-box{
    padding-top: 10px;
}
.service-item{
    width: 100%;
    height: auto;
}
.service-item h3{
    font-size: 2rem;
}
.service-item p{
    font-size: 1.6rem;
    padding-top: 10px;
    opacity: 0.7;
    line-height: 30px;
}
.service-box-bottom h2{
    font-size: 4rem;
    padding-bottom: 20px;
}
.service-box-bottom p:nth-child(2){
    font-size: 1.6rem;
    line-height: 30px;
    opacity: 0.7;
}
.service-box-bottom p{
    padding-bottom: 10px;
    font-size: 1.6rem;
    line-height: 30px;
    opacity: 0.7;
}
.s-btn{
    padding: 15px 30px;
    font-size: 1.8rem;
    border: none;
    outline: none;
    background-color: #f9ab30;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}
/* service  */



/* memorable  */
.memorable{
    width: 100%;
    height: auto;
}
.memorable-container{
    max-width: 1290px;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 60px;
    padding: 0 30px;
}
.memorable-box{
    width: 100%;
    height: auto;
}
.memorable-img{
    width: 100%;
    height: 500px;
}
.memorable-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.memorable-box h2{
    font-size: 4rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
.memorable-box p{
    font-size: 1.6rem;
    line-height: 30px;
    opacity: 0.8;
    color: #000;
}
.memorable-num{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: start;
}
.num-box p{
    font-size: 1.6rem;
    font-weight: 400;  
    text-align: center;
    padding-bottom: 5px;
}
.num-box h3{
    color: #ec950b;  
    font-size: 2.5rem; 
    opacity: 0.6;
    text-align: center;
}
/* memorable  */



/* bestplace  */
.bestplace{
    width: 100%;
    height: auto;

}
.title{
    max-width: 1290px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.title h2{
    font-size: 4rem;
}
.bp-container{
    max-width: 1290px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 0 30px;
}
.bp-box{
    position: relative;
    cursor: pointer;

}
.bp-box img{
    width: 100%;
    height: 100%;
}
.bp-content-up{
    position: absolute;
    top: 20px;
    left: 20px;
}
.bp-content-up h3{
    color: var(--white);
    font-size: 2rem;
}
.bp-content-down{
    position: absolute;
    bottom: 20px;
    right: 0;
}
.bp-content-down p{
    color: var(--white);
    font-size: 1.8rem;
    background-color: #000;
    padding: 5px 15px;
    border-radius: 10px 0 0 10px;
    transition: 0.5s ease-in-out;
}
.bp-box:hover .bp-content-up h3{
    color: #f9ab30;
}
.bp-box:hover .bp-content-down p{
    background-color: #f9ab30;
    padding: 5px 25px;
}
/* bestplace  */


/* Destination-section  */
.destination{
    width: 100%;
    height: auto;
}
.destination-container{
    max-width: 1290px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 0 30px;
}
.destination-box{
    width: 100%;
    height: aut0;
    border: 1px solid rgba(0,0,0,0.2);
}
.destination-img {
    width: 100%;
    height: 270px;
    background-color: #2f88fc;
}
.destination-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.destination-content{
    width: 100%;
    height: 230px;
    padding: 30px;
}
.destination-content p{
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.destination-content h2{
    font-size: 1.8rem;
}
.destination-content ul{
    display: flex;
    gap: 10px;
    font-size: 1.4rem;
}
/* /Destination-section  */


/* blog  */
.blog{
    width: 100%;
    height: auto;
}
.blog-container{
    max-width: 1290px;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 0 30px;
}
.blog-box{
    width: 100%;
    height: auto;
}
.blog-img{
    position: relative;
    width: 100%;
    height: 300px;
}
.blog-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-overlay{
    position: absolute;
    bottom: 0;
    background-color: #f9ab30;
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 50px 0px 0;
}
.blog-overlay h3{
    font-size: 4rem;
    font-weight: 200;
    color: var(--white);
}
.blog-overlay p{
    font-size: 1.2rem;
    color: var(--white);
}
.blog-content h2{
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.blog-content p{
    font-size: 1.6rem;
    color: var(--bg);
    opacity: 0.7;
}
/* blog  */


/* footer  */
.footer{
    width: 100%;
    height: auto;
    background: url(/images/xfooter-bg.jpg.pagespeed.ic.ZMAo_83aSu.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
}
.foot-container{
    max-width: 1290px;
    padding: 80px 30px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.foot-title{
    padding-bottom: 40px;
}
.foot-title h2{
    font-size: 2rem;
    color: var(--white);
}
.fabout{
    padding-bottom: 20px;
}
.fabout p{
    font-size: 1.6rem;
    color: var(--white);
    opacity: 0.6;
    line-height: 30px;
}
.fabout ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 40px;
   
}
.fabout ul li{
    color: var(--white);

}
.fabout i{
    font-size: 2rem;
}
.finfo ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.finfo ul li{
    color: var(--white);
    font-size: 1.6rem;
    opacity: 0.6;

}
.fexperience ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.fexperience li{
    color: var(--white);
    font-size: 1.6rem;
    opacity: 0.6;
}
.fquestion{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.fquestion ul{
    display: grid;
    grid-template-columns: 20px 1fr;
    row-gap: 50px;
    column-gap: 20px;
}
.fquestion span{
    color: var(--white);
    font-size: 1.8rem;
}
.fquestion li{
    color: var(--white);
    opacity: 0.6;
    font-size: 1.6rem;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom p{
    color: #fff;
    opacity: 0.6;
    padding: 50px;
    font-size: 1.6rem;
}
/* footer  */



